{% extends 'base.html' %}

{% block content %}
<h3>Products</h3>
<div class="row">
    {% for products in products %}
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="{{ products.image_url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ products.name }} </h5>
                <p class="card-text"> Rs{{ products.price }} </p>
                <a href="#" class="btn btn-primary">Add To Cart </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}